In [5]:
#Importando Bibliotecas
import pandas as pd

In [8]:
# Temos que carregar o arquivo csv
# Temos que converter o arquivo csv em um arquivo convidativo ao python e sua biblioteca, no caso, DataFrame
df = pd.read_csv('ocorrenciasmun-brasil2017.csv', sep=';', encoding='cp1250')

# Mostrando as primeiras linhas do DataFrame

df.head()

,Regiăo,Sigla UF,UF,Código IBGE Município,Município,Tipo Crime,Męs,Męs/Ano,PC-Qtde Ocorręncias
0,CENTRO-OESTE,DF,Distrito Federal,530010801,Brasília,Estupro,1,jan/17,3.0
1,CENTRO-OESTE,DF,Distrito Federal,530010801,Brasília,Estupro,2,fev/17,1.0
2,CENTRO-OESTE,DF,Distrito Federal,530010801,Brasília,Estupro,3,mar/17,6.0
3,CENTRO-OESTE,DF,Distrito Federal,530010801,Brasília,Estupro,4,abr/17,3.0
4,CENTRO-OESTE,DF,Distrito Federal,530010801,Brasília,Estupro,5,mai/17,8.0

In [9]:
# Vamos fazer uma contagem

df.count()

Regiăo                   27097
Sigla UF                 27097
UF                       27097
Código IBGE Município    27097
Município                27097
Tipo Crime               27097
Męs                      27097
Męs/Ano                  27097
PC-Qtde Ocorręncias      27097
dtype: int64

In [15]:
# Demonstra tipos de cada uma das colunas. "Object" é quando ele não entende
df.dtypes

Regiăo                    object
Sigla UF                  object
UF                        object
Código IBGE Município      int64
Município                 object
Tipo Crime                object
Męs                        int64
Męs/Ano                   object
PC-Qtde Ocorręncias      float64
dtype: object

In [13]:
#Ele da uma descrição quantitativa de algumas colunas
df.describe()

       Código IBGE Município           Męs  PC-Qtde Ocorręncias
count           2.709700e+04  27097.000000         27097.000000
mean            1.412254e+07      3.475846             6.923530
std             7.488053e+07      1.729305            28.142846
min             1.200013e+06      1.000000             1.000000
25%             2.602902e+06      2.000000             1.000000
50%             3.502101e+06      4.000000             2.000000
75%             4.122404e+06      5.000000             4.000000
max             5.300108e+08      6.000000           963.000000

In [19]:
# Peguemos uma coluna, e vamos trazer a quantidade maxima de cada uma das município.
# Repare no resultado, que aparece " .. " isso significa que era pra ter trazido mais resultados.
df['Município'].value_counts()

Săo Sebastiăo              54
Santa Maria                52
Cascavel                   45
Cachoeirinha               40
Sarandi                    39
Belém                      38
Sobradinho                 36
Guaíra                     36
Manaus                     36
Fortaleza                  34
Săo Luís                   33
Caruaru                    33
Salvador                   32
Redençăo                   32
Cruzeiro                   32
Porto Alegre               31
Săo Gonçalo Do Amarante    31
Bom Jardim                 31
Curitiba                   30
Campo Grande               30
Ananindeua                 30
Recife                     29
Santa Helena               29
Vitória Da Conquista       29
Pelotas                    29
Feira De Santana           29
Viana                      29
Caucaia                    29
Teresina                   29
Presidente Dutra           29
                           ..
Triunfo Potiguar            1
Quadra                      1
Vera Mendes                 1
Central Do Maranhăo         1
Lavras Do Sul               1
Cerro Branco                1
Joăo Ramalho                1
Mirassolândia               1
Bom Jesus Do Norte          1
Alvorada Do Gurguéia        1
Mirandópolis                1
Canudos                     1
Porto Lucena                1
Dom Expedito Lopes          1
Braúna                      1
Japi                        1
Trabiju                     1
Abaíra                      1
Ouroeste                    1
Sebastiăo Barros            1
Nossa Senhora De Nazaré     1
Luiziânia                   1
Dirceu Arcoverde            1
Fernandes Pinheiro          1
Itacuruba                   1
Uniflor                     1
Botuverá                    1
Jussiape                    1
Morro Cabeça No Tempo       1
Liberato Salzano            1
Name: Município, Length: 3344, dtype: int64

In [18]:
# Vamos tentar mais uma vez só que com outra coluna...
df['Sigla UF'].value_counts()

SP    4360
PR    3150
BA    2639
PE    2351
RS    2270
SC    1817
MA    1557
CE    1430
PA    1305
MT     894
ES     805
PI     747
AL     717
MS     615
SE     591
DF     559
PB     504
RN     382
TO     138
AM      96
AP      74
AC      61
RR      35
Name: Sigla UF, dtype: int64